<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.194.168.21)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=gzhzz;Password=gzhzz" />
  </connectionStrings>
</configuration>
